@model veneer.Models.Quote

@{
    ViewData["Title"] = "veneer! - Create";
}


<div class="row">
    <div class="col-md-6 mx-auto">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @if (ViewBag.TvShow != null)
                {
                    <p class="lead text-center">Enter your @ViewBag.TvShow caption:</p>
                } 
                @Html.TextAreaFor(m => m.Text, new { rows = "4", @class = "form-control", @maxlength = "500" })
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Caption!" class="w-100 btn btn-lg btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}